# Binaries
/**/*.exe

# Test Output
*test*.txt

# Coverage
*coverage*.txt
*coverage*.out

# Benchmark Results
benchmark_results/
*.prof
cpu.out
mem.out

# Examples
examples/**/config.json

# Gemini
.gemini/
gha-creds-*.json

# Go Workspace
go.work
go.work.sum
